
<!DOCTYPE html>

<html>

<head>
	<title>Add title</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">

</head>

<body>
    <center>
        <table>
            <tr>
                <td class='x'></td>
                <td class='o'></td>
                <td class='x won'></td>
            </tr>
            <tr>
                <td class='o'></td>
                <td class='x won'></td>
                <td class='x'></td>
            </tr>
            <tr>
                <td class='x won'></td>
                <td class='x'></td>
                <td class='o'></td>
            </tr>
        </table>
    </center>
</body>

</html>
